* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100svh;
  background-color: #020c1b;
}
.container {
  width: 100%;
}
.input,
.weather-card {
  width: 40%;
}
.weather-card {
  margin: auto;
  aspect-ratio: 1.5/1;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(70, 130, 216, 1) 0%,
    rgba(153, 192, 247, 1) 100%
  );
}

.weather-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3%;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}

.weather-details > * {
  padding: 4%;
  width: 100%;
  border-bottom: 1px solid white;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.search-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}
.search-container > * {
  margin: 0 5px;
}

#location {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
button {
  height: 100%;
  width: 5%;
  border-radius: 5px;
  border: none;
  background-color: #d8d3d3;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
#search-icon {
  color: #020c1b;
}
